.breadcrumbs {
	font-size: 1.4rem;
}	

.breadcrumbs-wrap {
	display: block;	
}	

.breadcrumb {
	display: inline;
	white-space: nowrap;

	&:after {
		display: inline;
		
		@if variable-exists(breadcrumbs-separator) {
			content: $breadcrumbs-separator; // default separator character between crumbs.
		}
	}
	&.breadcrumb-current {
		
		&:after {
			content:"";
		}
	}
	&[data-breadcrumbs-separator] {

		&:after {
			content: attr(data-breadcrumbs-separator); // specific separator character. Will be shown when the attribute 'data-separator' is added to a list-item
		}
	}
}
