/*
	Breadcrumbs variables
	Fallback for missing castlecss-core variables
	Example variables file: http://castlecss.com/variables.html
*/

$disabled:	#CDCDC1 !default;
$font-size-default: 1.6rem !default;
$breadcrumbs-separator: '\00bb' !default;